# Deployer private key (NEVER commit the real one)
PRIVATE_KEY=0x38e8aa761fda6d5997512cdafa2b0dc56c169a9470a293df21f63e4f34b3bd10

# RPC endpoints (override if you use a custom provider)
MONAD_TESTNET_RPC=https://testnet-rpc.monad.xyz
MONAD_MAINNET_RPC=https://rpc.monad.xyz

# Block explorer key (Monad testnet — leave as no-key if not required)
MONAD_EXPLORER_API_KEY=no-key
